.container {
  border: 1px dashed #ccc;
  padding: 4px;
  height: 150px;
  overflow: auto;
  width: 120px;
}

.card {
  border: 1px solid #ccc;
  display: flex;
  margin-bottom: 4px;
  padding: 4px;
  font-size: 12px;
}

.one {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background: red;
}

.two {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background: orange;
}

.three {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background: yellow;
}
.four {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background: green;
}

.five {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background: blue;
}
.six {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background: violet;
}
.seven {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background: pink;
}
