.container {
  border: 1px dashed #ccc;
  padding: 4px;
  height: 150px;
  overflow: auto;
  width: 120px;
}

.card-container {
  border: 1px solid #ccc;
  display: flex;
  margin-bottom: 4px;
  padding: 4px;
  font-size: 12px;
}

.item-one {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background: red;
}

.item-two {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background: orange;
}

.item-three {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background: yellow;
}
.item-four {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background: green;
}

.item-five {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background: blue;
}
.item-six {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background: violet;
}
.item-seven {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  background: pink;
}
